html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] pre,
html[dir="rtl"] code,
html[dir="rtl"] .highlight,
html[dir="rtl"] .literal-block-wrapper {
  direction: ltr;
  text-align: left;
}

html[dir="rtl"] table,
html[dir="rtl"] .math,
html[dir="rtl"] .math * {
  direction: ltr;
  text-align: left;
}
